.answer
{
    padding-left: 30px;
    background-color: #d1def1;
    font-family: sans-serif;
    font-size: 30px;
    display: none;
    margin-bottom: 10px;
    display: flexbox;
    align-items: center;
}

.question
{
    height: 60px;
    padding-left: 20px;
    background-color: #d1def1;
    font-family: sans-serif;
    font-size: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
}